<h1 class="center">{{winner.name}} is victorious!</h1>
<button {{action gameOn}} type="button" class="btn btn-success btn-block "}}>Game On!</button>
<button {{action newMatch}} type="button" class="btn btn-primary btn-block"}}>Start new match</button>
<button {{action undoWinner}} type="button" class="btn btn-block btn-danger"}}>Undo</button>